In [3]:
import pandas as pd
import zipfile

In [4]:
dj=pd.read_json("new_airline_data_2024 (1).json")
dc=pd.read_csv("old_airline_data_2023 (1).csv")

In [5]:
print(dj.isnull().sum())

Month                 0
Flights Operated      5
Passengers Carried    6
Target Passengers     0
dtype: int64

In [6]:
dj.iloc[:,1:]=dj.iloc[:,1:].fillna(dj.iloc[:,1:].mean())

In [7]:

dj=dj.dropna(subset=["Flights Operated","Passengers Carried","Target Passengers"], how='all')

In [8]:
#dj["Month"]=dj["Month"].isin(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])

In [9]:

dj.columns=dj.columns.str.lower().str.replace(" ","_")

In [10]:

dj["month"]=dj["month"].str.capitalize()

In [11]:
dj.drop_duplicates(subset=["month"],inplace=True)

In [12]:
print(dj)

   month  flights_operated  passengers_carried  target_passengers
0    Jan        1300.00000       165000.000000             160000
1    Feb        1250.00000       158000.000000             155000
2    Mar        1200.00000       150000.000000             152000
3    Apr        1347.44186       140000.000000             145000
4    May        1350.00000       160333.333333             160000
5    Jun        1400.00000       170000.000000             165000
6    Jul        1300.00000       155000.000000             150000
7    Aug        1380.00000       162000.000000             158000
8    Sep        1420.00000       167000.000000             163000
9    Oct        1350.00000       158000.000000             157000
10   Nov        1347.44186       155000.000000             154000
11   Dec        1400.00000       160333.333333             160000

In [26]:
dc.columns=dc.columns.str.lower().str.replace(" ","_")
dc["month"]=dc["month"].str.capitalize()

In [27]:
new = pd.concat([dc,dj],ignore_index=True)
print(new)

   month  flights_operated  passengers_carried  target_passengers
0    Jan        1200.00000       150000.000000             145000
1    Feb        1100.00000       142000.000000             140000
2    Mar        1150.00000       148500.000000             147000
3    Apr        1000.00000       130000.000000             135000
4    May        1250.00000       155000.000000             150000
5    Jun        1300.00000       160000.000000             158000
6    Jul        1120.00000       140000.000000             142000
7    Aug        1180.00000       145000.000000             148000
8    Sep        1230.00000       150500.000000             149000
9    Oct        1100.00000       138000.000000             140000
10   Nov        1090.00000       135000.000000             136000
11   Dec        1200.00000       148000.000000             147500
12   Jan        1220.00000       152000.000000             146000
13   Feb        1110.00000       143000.000000             140500
14   Mar        1170.00000       149000.000000             148000
15   Apr        1050.00000       133000.000000             136000
16   May        1280.00000       157000.000000             151000
17   Jun        1310.00000       162000.000000             159000
18   Jul        1150.00000       141000.000000             143000
19   Aug        1200.00000       147000.000000             149000
20   Sep        1250.00000       152000.000000             150000
21   Oct        1130.00000       139000.000000             141000
22   Nov        1100.00000       136000.000000             137000
23   Dec        1220.00000       149000.000000             148000
24   Jan        1250.00000       153000.000000             147000
25   Feb        1120.00000       144000.000000             141000
26   Mar        1180.00000       150000.000000             149000
27   Apr        1080.00000       134000.000000             137000
28   May        1290.00000       158000.000000             152000
29   Jun        1330.00000       163000.000000             160000
30   Jul        1170.00000       142000.000000             144000
31   Aug        1220.00000       148000.000000             150000
32   Sep        1260.00000       153000.000000             151000
33   Oct        1140.00000       140000.000000             142000
34   Nov        1110.00000       137000.000000             138000
35   Dec        1230.00000       150000.000000             149000
36   Jan        1270.00000       154000.000000             148000
37   Feb        1130.00000       145000.000000             141500
38   Mar        1190.00000       151000.000000             150000
39   Apr        1100.00000       135000.000000             138000
40   May        1300.00000       159000.000000             153000
41   Jun        1340.00000       164000.000000             161000
42   Jul        1180.00000       143000.000000             145000
43   Aug        1230.00000       149000.000000             151000
44   Sep        1270.00000       154000.000000             152000
45   Oct        1150.00000       141000.000000             143000
46   Nov        1120.00000       138000.000000             139000
47   Dec        1240.00000       151000.000000             150000
48   Jan        1300.00000       165000.000000             160000
49   Feb        1250.00000       158000.000000             155000
50   Mar        1200.00000       150000.000000             152000
51   Apr        1347.44186       140000.000000             145000
52   May        1350.00000       160333.333333             160000
53   Jun        1400.00000       170000.000000             165000
54   Jul        1300.00000       155000.000000             150000
55   Aug        1380.00000       162000.000000             158000
56   Sep        1420.00000       167000.000000             163000
57   Oct        1350.00000       158000.000000             157000
58   Nov        1347.44186       155000.000000             154000
59   Dec        1400.00000       160333.333333             160000

In [28]:
new["Year"] = pd.Series([2023 if i < 53 else 2024 for i in new.index], index=new.index)
#new["Year"] = [2023 if i < len(dc) else 2024 for i in range(len(new))]

In [29]:
mon=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
new = new[new['month'].isin(mon)]
print(new)

   month  flights_operated  passengers_carried  target_passengers  Year
0    Jan        1200.00000       150000.000000             145000  2023
1    Feb        1100.00000       142000.000000             140000  2023
2    Mar        1150.00000       148500.000000             147000  2023
3    Apr        1000.00000       130000.000000             135000  2023
4    May        1250.00000       155000.000000             150000  2023
5    Jun        1300.00000       160000.000000             158000  2023
6    Jul        1120.00000       140000.000000             142000  2023
7    Aug        1180.00000       145000.000000             148000  2023
8    Sep        1230.00000       150500.000000             149000  2023
9    Oct        1100.00000       138000.000000             140000  2023
10   Nov        1090.00000       135000.000000             136000  2023
11   Dec        1200.00000       148000.000000             147500  2023
12   Jan        1220.00000       152000.000000             146000  2023
13   Feb        1110.00000       143000.000000             140500  2023
14   Mar        1170.00000       149000.000000             148000  2023
15   Apr        1050.00000       133000.000000             136000  2023
16   May        1280.00000       157000.000000             151000  2023
17   Jun        1310.00000       162000.000000             159000  2023
18   Jul        1150.00000       141000.000000             143000  2023
19   Aug        1200.00000       147000.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
21   Oct        1130.00000       139000.000000             141000  2023
22   Nov        1100.00000       136000.000000             137000  2023
23   Dec        1220.00000       149000.000000             148000  2023
24   Jan        1250.00000       153000.000000             147000  2023
25   Feb        1120.00000       144000.000000             141000  2023
26   Mar        1180.00000       150000.000000             149000  2023
27   Apr        1080.00000       134000.000000             137000  2023
28   May        1290.00000       158000.000000             152000  2023
29   Jun        1330.00000       163000.000000             160000  2023
30   Jul        1170.00000       142000.000000             144000  2023
31   Aug        1220.00000       148000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
33   Oct        1140.00000       140000.000000             142000  2023
34   Nov        1110.00000       137000.000000             138000  2023
35   Dec        1230.00000       150000.000000             149000  2023
36   Jan        1270.00000       154000.000000             148000  2023
37   Feb        1130.00000       145000.000000             141500  2023
38   Mar        1190.00000       151000.000000             150000  2023
39   Apr        1100.00000       135000.000000             138000  2023
40   May        1300.00000       159000.000000             153000  2023
41   Jun        1340.00000       164000.000000             161000  2023
42   Jul        1180.00000       143000.000000             145000  2023
43   Aug        1230.00000       149000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
45   Oct        1150.00000       141000.000000             143000  2023
46   Nov        1120.00000       138000.000000             139000  2023
47   Dec        1240.00000       151000.000000             150000  2023
48   Jan        1300.00000       165000.000000             160000  2023
49   Feb        1250.00000       158000.000000             155000  2023
50   Mar        1200.00000       150000.000000             152000  2023
51   Apr        1347.44186       140000.000000             145000  2023
52   May        1350.00000       160333.333333             160000  2023
53   Jun        1400.00000       170000.000000             165000  2024
54   Jul        1300.00000       155000.000000             150000  2024
55   Aug        1380.00000       162000.000000             158000  2024
56   Sep        1420.00000       167000.000000             163000  2024
57   Oct        1350.00000       158000.000000             157000  2024
58   Nov        1347.44186       155000.000000             154000  2024
59   Dec        1400.00000       160333.333333             160000  2024

In [30]:
new.sort_values(["Year","month"],inplace=True)

In [31]:
new["month"]=pd.Categorical(new["month"], categories=mon, ordered=True)
print(new)

   month  flights_operated  passengers_carried  target_passengers  Year
3    Apr        1000.00000       130000.000000             135000  2023
15   Apr        1050.00000       133000.000000             136000  2023
27   Apr        1080.00000       134000.000000             137000  2023
39   Apr        1100.00000       135000.000000             138000  2023
51   Apr        1347.44186       140000.000000             145000  2023
7    Aug        1180.00000       145000.000000             148000  2023
19   Aug        1200.00000       147000.000000             149000  2023
31   Aug        1220.00000       148000.000000             150000  2023
43   Aug        1230.00000       149000.000000             151000  2023
11   Dec        1200.00000       148000.000000             147500  2023
23   Dec        1220.00000       149000.000000             148000  2023
35   Dec        1230.00000       150000.000000             149000  2023
47   Dec        1240.00000       151000.000000             150000  2023
1    Feb        1100.00000       142000.000000             140000  2023
13   Feb        1110.00000       143000.000000             140500  2023
25   Feb        1120.00000       144000.000000             141000  2023
37   Feb        1130.00000       145000.000000             141500  2023
49   Feb        1250.00000       158000.000000             155000  2023
0    Jan        1200.00000       150000.000000             145000  2023
12   Jan        1220.00000       152000.000000             146000  2023
24   Jan        1250.00000       153000.000000             147000  2023
36   Jan        1270.00000       154000.000000             148000  2023
48   Jan        1300.00000       165000.000000             160000  2023
6    Jul        1120.00000       140000.000000             142000  2023
18   Jul        1150.00000       141000.000000             143000  2023
30   Jul        1170.00000       142000.000000             144000  2023
42   Jul        1180.00000       143000.000000             145000  2023
5    Jun        1300.00000       160000.000000             158000  2023
17   Jun        1310.00000       162000.000000             159000  2023
29   Jun        1330.00000       163000.000000             160000  2023
41   Jun        1340.00000       164000.000000             161000  2023
2    Mar        1150.00000       148500.000000             147000  2023
14   Mar        1170.00000       149000.000000             148000  2023
26   Mar        1180.00000       150000.000000             149000  2023
38   Mar        1190.00000       151000.000000             150000  2023
50   Mar        1200.00000       150000.000000             152000  2023
4    May        1250.00000       155000.000000             150000  2023
16   May        1280.00000       157000.000000             151000  2023
28   May        1290.00000       158000.000000             152000  2023
40   May        1300.00000       159000.000000             153000  2023
52   May        1350.00000       160333.333333             160000  2023
10   Nov        1090.00000       135000.000000             136000  2023
22   Nov        1100.00000       136000.000000             137000  2023
34   Nov        1110.00000       137000.000000             138000  2023
46   Nov        1120.00000       138000.000000             139000  2023
9    Oct        1100.00000       138000.000000             140000  2023
21   Oct        1130.00000       139000.000000             141000  2023
33   Oct        1140.00000       140000.000000             142000  2023
45   Oct        1150.00000       141000.000000             143000  2023
8    Sep        1230.00000       150500.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
55   Aug        1380.00000       162000.000000             158000  2024
59   Dec        1400.00000       160333.333333             160000  2024
54   Jul        1300.00000       155000.000000             150000  2024
53   Jun        1400.00000       170000.000000             165000  2024
58   Nov        1347.44186       155000.000000             154000  2024
57   Oct        1350.00000       158000.000000             157000  2024
56   Sep        1420.00000       167000.000000             163000  2024

In [32]:
new["pct_diff_target"]=((new["passengers_carried"]-new["target_passengers"])/new["target_passengers"])*100
print(new)

   month  flights_operated  passengers_carried  target_passengers  Year  \
3    Apr        1000.00000       130000.000000             135000  2023
15   Apr        1050.00000       133000.000000             136000  2023
27   Apr        1080.00000       134000.000000             137000  2023
39   Apr        1100.00000       135000.000000             138000  2023
51   Apr        1347.44186       140000.000000             145000  2023
7    Aug        1180.00000       145000.000000             148000  2023
19   Aug        1200.00000       147000.000000             149000  2023
31   Aug        1220.00000       148000.000000             150000  2023
43   Aug        1230.00000       149000.000000             151000  2023
11   Dec        1200.00000       148000.000000             147500  2023
23   Dec        1220.00000       149000.000000             148000  2023
35   Dec        1230.00000       150000.000000             149000  2023
47   Dec        1240.00000       151000.000000             150000  2023
1    Feb        1100.00000       142000.000000             140000  2023
13   Feb        1110.00000       143000.000000             140500  2023
25   Feb        1120.00000       144000.000000             141000  2023
37   Feb        1130.00000       145000.000000             141500  2023
49   Feb        1250.00000       158000.000000             155000  2023
0    Jan        1200.00000       150000.000000             145000  2023
12   Jan        1220.00000       152000.000000             146000  2023
24   Jan        1250.00000       153000.000000             147000  2023
36   Jan        1270.00000       154000.000000             148000  2023
48   Jan        1300.00000       165000.000000             160000  2023
6    Jul        1120.00000       140000.000000             142000  2023
18   Jul        1150.00000       141000.000000             143000  2023
30   Jul        1170.00000       142000.000000             144000  2023
42   Jul        1180.00000       143000.000000             145000  2023
5    Jun        1300.00000       160000.000000             158000  2023
17   Jun        1310.00000       162000.000000             159000  2023
29   Jun        1330.00000       163000.000000             160000  2023
41   Jun        1340.00000       164000.000000             161000  2023
2    Mar        1150.00000       148500.000000             147000  2023
14   Mar        1170.00000       149000.000000             148000  2023
26   Mar        1180.00000       150000.000000             149000  2023
38   Mar        1190.00000       151000.000000             150000  2023
50   Mar        1200.00000       150000.000000             152000  2023
4    May        1250.00000       155000.000000             150000  2023
16   May        1280.00000       157000.000000             151000  2023
28   May        1290.00000       158000.000000             152000  2023
40   May        1300.00000       159000.000000             153000  2023
52   May        1350.00000       160333.333333             160000  2023
10   Nov        1090.00000       135000.000000             136000  2023
22   Nov        1100.00000       136000.000000             137000  2023
34   Nov        1110.00000       137000.000000             138000  2023
46   Nov        1120.00000       138000.000000             139000  2023
9    Oct        1100.00000       138000.000000             140000  2023
21   Oct        1130.00000       139000.000000             141000  2023
33   Oct        1140.00000       140000.000000             142000  2023
45   Oct        1150.00000       141000.000000             143000  2023
8    Sep        1230.00000       150500.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
55   Aug        1380.00000       162000.000000             158000  2024
59   Dec        1400.00000       160333.333333             160000  2024
54   Jul        1300.00000       155000.000000             150000  2024
53   Jun        1400.00000       170000.000000             165000  2024
58   Nov        1347.44186       155000.000000             154000  2024
57   Oct        1350.00000       158000.000000             157000  2024
56   Sep        1420.00000       167000.000000             163000  2024

    pct_diff_target
3         -3.703704
15        -2.205882
27        -2.189781
39        -2.173913
51        -3.448276
7         -2.027027
19        -1.342282
31        -1.333333
43        -1.324503
11         0.338983
23         0.675676
35         0.671141
47         0.666667
1          1.428571
13         1.779359
25         2.127660
37         2.473498
49         1.935484
0          3.448276
12         4.109589
24         4.081633
36         4.054054
48         3.125000
6         -1.408451
18        -1.398601
30        -1.388889
42        -1.379310
5          1.265823
17         1.886792
29         1.875000
41         1.863354
2          1.020408
14         0.675676
26         0.671141
38         0.666667
50        -1.315789
4          3.333333
16         3.973510
28         3.947368
40         3.921569
52         0.208333
10        -0.735294
22        -0.729927
34        -0.724638
46        -0.719424
9         -1.428571
21        -1.418440
33        -1.408451
45        -1.398601
8          1.006711
20         1.333333
32         1.324503
44         1.315789
55         2.531646
59         0.208333
54         3.333333
53         3.030303
58         0.649351
57         0.636943
56         2.453988

In [33]:
target_not_achieved=new[new["pct_diff_target"] < 0]
print(target_not_achieved[["Year", "month", "pct_diff_target"]])

    Year month  pct_diff_target
3   2023   Apr        -3.703704
15  2023   Apr        -2.205882
27  2023   Apr        -2.189781
39  2023   Apr        -2.173913
51  2023   Apr        -3.448276
7   2023   Aug        -2.027027
19  2023   Aug        -1.342282
31  2023   Aug        -1.333333
43  2023   Aug        -1.324503
6   2023   Jul        -1.408451
18  2023   Jul        -1.398601
30  2023   Jul        -1.388889
42  2023   Jul        -1.379310
50  2023   Mar        -1.315789
10  2023   Nov        -0.735294
22  2023   Nov        -0.729927
34  2023   Nov        -0.724638
46  2023   Nov        -0.719424
9   2023   Oct        -1.428571
21  2023   Oct        -1.418440
33  2023   Oct        -1.408451
45  2023   Oct        -1.398601

In [34]:
total_passengers=new.groupby('Year')['passengers_carried'].sum()
total_flights=new.groupby('Year')['flights_operated'].sum()
Average_pc_diff_target=new.groupby('Year')['pct_diff_target'].mean()
annual_summary=pd.concat([total_passengers,total_flights,Average_pc_diff_target],ignore_index=True,axis=1)
print(annual_summary)

                 0            1         2
Year
2023  7.831333e+06  63457.44186  0.490600
2024  1.127333e+06   9597.44186  1.834842

In [35]:
best=new.loc[new["pct_diff_target"].idxmax()]
worst=new.loc[new["pct_diff_target"].idxmin()]
print(best,worst)

month                      Jan
flights_operated        1220.0
passengers_carried    152000.0
target_passengers       146000
Year                      2023
pct_diff_target       4.109589
Name: 12, dtype: object month                      Apr
flights_operated        1000.0
passengers_carried    130000.0
target_passengers       135000
Year                      2023
pct_diff_target      -3.703704
Name: 3, dtype: object

In [36]:
new=new.to_csv("combined_airline_data.csv",index=False)
target_not_achieved=target_not_achieved.to_csv("target_not_achieved.csv",index=False)
annual_summary=annual_summary.to_json("yearly_summary.json",index=False)

In [37]:
with zipfile.ZipFile("airline_analysis_outputs.zip","w") as zf:
    zf.write("combined_airline_data.csv")
    zf.write("target_not_achieved.csv")
    zf.write("yearly_summary.json")