In [207]:
import pandas as pd
import zipfile

In [208]:
dj=pd.read_json("new_airline_data_2024 (1).json")
dc=pd.read_csv("old_airline_data_2023 (1).csv")

In [209]:
print(dj.isnull().sum())

Month                 0
Flights Operated      5
Passengers Carried    6
Target Passengers     0
dtype: int64

In [210]:
num_data=dj.select_dtypes(include='number').fillna(dj.select_dtypes(include='number').mean())
dj[num_data.columns]=num_data

In [211]:
print(dj)

   Month  Flights Operated  Passengers Carried  Target Passengers
0    Jan        1300.00000       165000.000000             160000
1    Feb        1250.00000       158000.000000             155000
2    Mar        1200.00000       150000.000000             152000
3    Apr        1347.44186       140000.000000             145000
4    May        1350.00000       160333.333333             160000
5    Jun        1400.00000       170000.000000             165000
6    Jul        1300.00000       155000.000000             150000
7    Aug        1380.00000       162000.000000             158000
8    Sep        1420.00000       167000.000000             163000
9    Oct        1350.00000       158000.000000             157000
10   Nov        1347.44186       155000.000000             154000
11   Dec        1400.00000       160333.333333             160000
12   Jan        1320.00000       166000.000000             161000
13   Feb        1260.00000       159000.000000             156000
14   Mar        1210.00000       151000.000000             153000
15   Apr        1300.00000       160333.333333             146000
16   May        1360.00000       162000.000000             161000
17   Jun        1347.44186       171000.000000             166000
18   Jul        1310.00000       156000.000000             151000
19   Aug        1390.00000       163000.000000             159000
20   Sep        1430.00000       168000.000000             164000
21   Oct        1360.00000       159000.000000             158000
22   Nov        1340.00000       156000.000000             155000
23   Dec        1347.44186       161000.000000             161000
24   Jan        1330.00000       167000.000000             162000
25   Feb        1270.00000       160333.333333             157000
26   Mar        1347.44186       152000.000000             154000
27   Apr        1310.00000       143000.000000             147000
28   May        1370.00000       163000.000000             162000
29   Jun        1410.00000       172000.000000             167000
30   Jul        1320.00000       160333.333333             152000
31   Aug        1400.00000       164000.000000             160000
32   Sep        1440.00000       169000.000000             165000
33   Oct        1370.00000       160000.000000             159000
34   Nov        1350.00000       157000.000000             156000
35   Dec        1420.00000       162000.000000             162000
36   Jan        1340.00000       168000.000000             163000
37   Feb        1280.00000       160000.000000             158000
38   Mar        1220.00000       153000.000000             155000
39   Apr        1320.00000       144000.000000             148000
40   May        1380.00000       160333.333333             163000
41   Jun        1420.00000       173000.000000             168000
42   Jul        1330.00000       158000.000000             153000
43   Aug        1410.00000       165000.000000             161000
44   Sep        1450.00000       170000.000000             166000
45   Oct        1380.00000       161000.000000             160000
46   Nov        1360.00000       158000.000000             157000
47   Dec        1430.00000       163000.000000             163000

In [212]:
dj.dropna(subset=num_data.columns,inplace=True)

In [213]:
val_mon=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
dj[dj["Month"].isin(val_mon)]

   Month  Flights Operated  Passengers Carried  Target Passengers
0    Jan        1300.00000       165000.000000             160000
1    Feb        1250.00000       158000.000000             155000
2    Mar        1200.00000       150000.000000             152000
3    Apr        1347.44186       140000.000000             145000
4    May        1350.00000       160333.333333             160000
5    Jun        1400.00000       170000.000000             165000
6    Jul        1300.00000       155000.000000             150000
7    Aug        1380.00000       162000.000000             158000
8    Sep        1420.00000       167000.000000             163000
9    Oct        1350.00000       158000.000000             157000
10   Nov        1347.44186       155000.000000             154000
11   Dec        1400.00000       160333.333333             160000
12   Jan        1320.00000       166000.000000             161000
13   Feb        1260.00000       159000.000000             156000
14   Mar        1210.00000       151000.000000             153000
15   Apr        1300.00000       160333.333333             146000
16   May        1360.00000       162000.000000             161000
17   Jun        1347.44186       171000.000000             166000
18   Jul        1310.00000       156000.000000             151000
19   Aug        1390.00000       163000.000000             159000
20   Sep        1430.00000       168000.000000             164000
21   Oct        1360.00000       159000.000000             158000
22   Nov        1340.00000       156000.000000             155000
23   Dec        1347.44186       161000.000000             161000
24   Jan        1330.00000       167000.000000             162000
25   Feb        1270.00000       160333.333333             157000
26   Mar        1347.44186       152000.000000             154000
27   Apr        1310.00000       143000.000000             147000
28   May        1370.00000       163000.000000             162000
29   Jun        1410.00000       172000.000000             167000
30   Jul        1320.00000       160333.333333             152000
31   Aug        1400.00000       164000.000000             160000
32   Sep        1440.00000       169000.000000             165000
33   Oct        1370.00000       160000.000000             159000
34   Nov        1350.00000       157000.000000             156000
35   Dec        1420.00000       162000.000000             162000
36   Jan        1340.00000       168000.000000             163000
37   Feb        1280.00000       160000.000000             158000
38   Mar        1220.00000       153000.000000             155000
39   Apr        1320.00000       144000.000000             148000
40   May        1380.00000       160333.333333             163000
41   Jun        1420.00000       173000.000000             168000
42   Jul        1330.00000       158000.000000             153000
43   Aug        1410.00000       165000.000000             161000
44   Sep        1450.00000       170000.000000             166000
45   Oct        1380.00000       161000.000000             160000
46   Nov        1360.00000       158000.000000             157000
47   Dec        1430.00000       163000.000000             163000

In [214]:
dj.columns=dj.columns.str.lower().str.replace(" ","_")
dj["month"]=dj["month"].str.capitalize()

In [215]:
dj=dj.drop_duplicates(subset="month")

In [216]:
print(dj)

   month  flights_operated  passengers_carried  target_passengers
0    Jan        1300.00000       165000.000000             160000
1    Feb        1250.00000       158000.000000             155000
2    Mar        1200.00000       150000.000000             152000
3    Apr        1347.44186       140000.000000             145000
4    May        1350.00000       160333.333333             160000
5    Jun        1400.00000       170000.000000             165000
6    Jul        1300.00000       155000.000000             150000
7    Aug        1380.00000       162000.000000             158000
8    Sep        1420.00000       167000.000000             163000
9    Oct        1350.00000       158000.000000             157000
10   Nov        1347.44186       155000.000000             154000
11   Dec        1400.00000       160333.333333             160000

In [217]:
dc.columns=dc.columns.str.lower().str.replace(" ","_")
dc["month"]=dc["month"].str.capitalize()

In [218]:
new=pd.concat([dc,dj],ignore_index=True)
print(new)

   month  flights_operated  passengers_carried  target_passengers
0    Jan        1200.00000       150000.000000             145000
1    Feb        1100.00000       142000.000000             140000
2    Mar        1150.00000       148500.000000             147000
3    Apr        1000.00000       130000.000000             135000
4    May        1250.00000       155000.000000             150000
5    Jun        1300.00000       160000.000000             158000
6    Jul        1120.00000       140000.000000             142000
7    Aug        1180.00000       145000.000000             148000
8    Sep        1230.00000       150500.000000             149000
9    Oct        1100.00000       138000.000000             140000
10   Nov        1090.00000       135000.000000             136000
11   Dec        1200.00000       148000.000000             147500
12   Jan        1220.00000       152000.000000             146000
13   Feb        1110.00000       143000.000000             140500
14   Mar        1170.00000       149000.000000             148000
15   Apr        1050.00000       133000.000000             136000
16   May        1280.00000       157000.000000             151000
17   Jun        1310.00000       162000.000000             159000
18   Jul        1150.00000       141000.000000             143000
19   Aug        1200.00000       147000.000000             149000
20   Sep        1250.00000       152000.000000             150000
21   Oct        1130.00000       139000.000000             141000
22   Nov        1100.00000       136000.000000             137000
23   Dec        1220.00000       149000.000000             148000
24   Jan        1250.00000       153000.000000             147000
25   Feb        1120.00000       144000.000000             141000
26   Mar        1180.00000       150000.000000             149000
27   Apr        1080.00000       134000.000000             137000
28   May        1290.00000       158000.000000             152000
29   Jun        1330.00000       163000.000000             160000
30   Jul        1170.00000       142000.000000             144000
31   Aug        1220.00000       148000.000000             150000
32   Sep        1260.00000       153000.000000             151000
33   Oct        1140.00000       140000.000000             142000
34   Nov        1110.00000       137000.000000             138000
35   Dec        1230.00000       150000.000000             149000
36   Jan        1270.00000       154000.000000             148000
37   Feb        1130.00000       145000.000000             141500
38   Mar        1190.00000       151000.000000             150000
39   Apr        1100.00000       135000.000000             138000
40   May        1300.00000       159000.000000             153000
41   Jun        1340.00000       164000.000000             161000
42   Jul        1180.00000       143000.000000             145000
43   Aug        1230.00000       149000.000000             151000
44   Sep        1270.00000       154000.000000             152000
45   Oct        1150.00000       141000.000000             143000
46   Nov        1120.00000       138000.000000             139000
47   Dec        1240.00000       151000.000000             150000
48   Jan        1300.00000       165000.000000             160000
49   Feb        1250.00000       158000.000000             155000
50   Mar        1200.00000       150000.000000             152000
51   Apr        1347.44186       140000.000000             145000
52   May        1350.00000       160333.333333             160000
53   Jun        1400.00000       170000.000000             165000
54   Jul        1300.00000       155000.000000             150000
55   Aug        1380.00000       162000.000000             158000
56   Sep        1420.00000       167000.000000             163000
57   Oct        1350.00000       158000.000000             157000
58   Nov        1347.44186       155000.000000             154000
59   Dec        1400.00000       160333.333333             160000

In [219]:
print(dc.count)

<bound method DataFrame.count of    month  flights_operated  passengers_carried  target_passengers
0    Jan              1200              150000             145000
1    Feb              1100              142000             140000
2    Mar              1150              148500             147000
3    Apr              1000              130000             135000
4    May              1250              155000             150000
5    Jun              1300              160000             158000
6    Jul              1120              140000             142000
7    Aug              1180              145000             148000
8    Sep              1230              150500             149000
9    Oct              1100              138000             140000
10   Nov              1090              135000             136000
11   Dec              1200              148000             147500
12   Jan              1220              152000             146000
13   Feb              1110              143000             140500
14   Mar              1170              149000             148000
15   Apr              1050              133000             136000
16   May              1280              157000             151000
17   Jun              1310              162000             159000
18   Jul              1150              141000             143000
19   Aug              1200              147000             149000
20   Sep              1250              152000             150000
21   Oct              1130              139000             141000
22   Nov              1100              136000             137000
23   Dec              1220              149000             148000
24   Jan              1250              153000             147000
25   Feb              1120              144000             141000
26   Mar              1180              150000             149000
27   Apr              1080              134000             137000
28   May              1290              158000             152000
29   Jun              1330              163000             160000
30   Jul              1170              142000             144000
31   Aug              1220              148000             150000
32   Sep              1260              153000             151000
33   Oct              1140              140000             142000
34   Nov              1110              137000             138000
35   Dec              1230              150000             149000
36   Jan              1270              154000             148000
37   Feb              1130              145000             141500
38   Mar              1190              151000             150000
39   Apr              1100              135000             138000
40   May              1300              159000             153000
41   Jun              1340              164000             161000
42   Jul              1180              143000             145000
43   Aug              1230              149000             151000
44   Sep              1270              154000             152000
45   Oct              1150              141000             143000
46   Nov              1120              138000             139000
47   Dec              1240              151000             150000>

In [220]:
new["year"]=[2023 if i < 47 else 2024 for i in range(len(new))]
print(new)

   month  flights_operated  passengers_carried  target_passengers  year
0    Jan        1200.00000       150000.000000             145000  2023
1    Feb        1100.00000       142000.000000             140000  2023
2    Mar        1150.00000       148500.000000             147000  2023
3    Apr        1000.00000       130000.000000             135000  2023
4    May        1250.00000       155000.000000             150000  2023
5    Jun        1300.00000       160000.000000             158000  2023
6    Jul        1120.00000       140000.000000             142000  2023
7    Aug        1180.00000       145000.000000             148000  2023
8    Sep        1230.00000       150500.000000             149000  2023
9    Oct        1100.00000       138000.000000             140000  2023
10   Nov        1090.00000       135000.000000             136000  2023
11   Dec        1200.00000       148000.000000             147500  2023
12   Jan        1220.00000       152000.000000             146000  2023
13   Feb        1110.00000       143000.000000             140500  2023
14   Mar        1170.00000       149000.000000             148000  2023
15   Apr        1050.00000       133000.000000             136000  2023
16   May        1280.00000       157000.000000             151000  2023
17   Jun        1310.00000       162000.000000             159000  2023
18   Jul        1150.00000       141000.000000             143000  2023
19   Aug        1200.00000       147000.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
21   Oct        1130.00000       139000.000000             141000  2023
22   Nov        1100.00000       136000.000000             137000  2023
23   Dec        1220.00000       149000.000000             148000  2023
24   Jan        1250.00000       153000.000000             147000  2023
25   Feb        1120.00000       144000.000000             141000  2023
26   Mar        1180.00000       150000.000000             149000  2023
27   Apr        1080.00000       134000.000000             137000  2023
28   May        1290.00000       158000.000000             152000  2023
29   Jun        1330.00000       163000.000000             160000  2023
30   Jul        1170.00000       142000.000000             144000  2023
31   Aug        1220.00000       148000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
33   Oct        1140.00000       140000.000000             142000  2023
34   Nov        1110.00000       137000.000000             138000  2023
35   Dec        1230.00000       150000.000000             149000  2023
36   Jan        1270.00000       154000.000000             148000  2023
37   Feb        1130.00000       145000.000000             141500  2023
38   Mar        1190.00000       151000.000000             150000  2023
39   Apr        1100.00000       135000.000000             138000  2023
40   May        1300.00000       159000.000000             153000  2023
41   Jun        1340.00000       164000.000000             161000  2023
42   Jul        1180.00000       143000.000000             145000  2023
43   Aug        1230.00000       149000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
45   Oct        1150.00000       141000.000000             143000  2023
46   Nov        1120.00000       138000.000000             139000  2023
47   Dec        1240.00000       151000.000000             150000  2024
48   Jan        1300.00000       165000.000000             160000  2024
49   Feb        1250.00000       158000.000000             155000  2024
50   Mar        1200.00000       150000.000000             152000  2024
51   Apr        1347.44186       140000.000000             145000  2024
52   May        1350.00000       160333.333333             160000  2024
53   Jun        1400.00000       170000.000000             165000  2024
54   Jul        1300.00000       155000.000000             150000  2024
55   Aug        1380.00000       162000.000000             158000  2024
56   Sep        1420.00000       167000.000000             163000  2024
57   Oct        1350.00000       158000.000000             157000  2024
58   Nov        1347.44186       155000.000000             154000  2024
59   Dec        1400.00000       160333.333333             160000  2024

In [221]:

new[new["month"].isin(val_mon)]

   month  flights_operated  passengers_carried  target_passengers  year
0    Jan        1200.00000       150000.000000             145000  2023
1    Feb        1100.00000       142000.000000             140000  2023
2    Mar        1150.00000       148500.000000             147000  2023
3    Apr        1000.00000       130000.000000             135000  2023
4    May        1250.00000       155000.000000             150000  2023
5    Jun        1300.00000       160000.000000             158000  2023
6    Jul        1120.00000       140000.000000             142000  2023
7    Aug        1180.00000       145000.000000             148000  2023
8    Sep        1230.00000       150500.000000             149000  2023
9    Oct        1100.00000       138000.000000             140000  2023
10   Nov        1090.00000       135000.000000             136000  2023
11   Dec        1200.00000       148000.000000             147500  2023
12   Jan        1220.00000       152000.000000             146000  2023
13   Feb        1110.00000       143000.000000             140500  2023
14   Mar        1170.00000       149000.000000             148000  2023
15   Apr        1050.00000       133000.000000             136000  2023
16   May        1280.00000       157000.000000             151000  2023
17   Jun        1310.00000       162000.000000             159000  2023
18   Jul        1150.00000       141000.000000             143000  2023
19   Aug        1200.00000       147000.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
21   Oct        1130.00000       139000.000000             141000  2023
22   Nov        1100.00000       136000.000000             137000  2023
23   Dec        1220.00000       149000.000000             148000  2023
24   Jan        1250.00000       153000.000000             147000  2023
25   Feb        1120.00000       144000.000000             141000  2023
26   Mar        1180.00000       150000.000000             149000  2023
27   Apr        1080.00000       134000.000000             137000  2023
28   May        1290.00000       158000.000000             152000  2023
29   Jun        1330.00000       163000.000000             160000  2023
30   Jul        1170.00000       142000.000000             144000  2023
31   Aug        1220.00000       148000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
33   Oct        1140.00000       140000.000000             142000  2023
34   Nov        1110.00000       137000.000000             138000  2023
35   Dec        1230.00000       150000.000000             149000  2023
36   Jan        1270.00000       154000.000000             148000  2023
37   Feb        1130.00000       145000.000000             141500  2023
38   Mar        1190.00000       151000.000000             150000  2023
39   Apr        1100.00000       135000.000000             138000  2023
40   May        1300.00000       159000.000000             153000  2023
41   Jun        1340.00000       164000.000000             161000  2023
42   Jul        1180.00000       143000.000000             145000  2023
43   Aug        1230.00000       149000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
45   Oct        1150.00000       141000.000000             143000  2023
46   Nov        1120.00000       138000.000000             139000  2023
47   Dec        1240.00000       151000.000000             150000  2024
48   Jan        1300.00000       165000.000000             160000  2024
49   Feb        1250.00000       158000.000000             155000  2024
50   Mar        1200.00000       150000.000000             152000  2024
51   Apr        1347.44186       140000.000000             145000  2024
52   May        1350.00000       160333.333333             160000  2024
53   Jun        1400.00000       170000.000000             165000  2024
54   Jul        1300.00000       155000.000000             150000  2024
55   Aug        1380.00000       162000.000000             158000  2024
56   Sep        1420.00000       167000.000000             163000  2024
57   Oct        1350.00000       158000.000000             157000  2024
58   Nov        1347.44186       155000.000000             154000  2024
59   Dec        1400.00000       160333.333333             160000  2024

In [222]:
new.sort_values("year")

   month  flights_operated  passengers_carried  target_passengers  year
0    Jan        1200.00000       150000.000000             145000  2023
1    Feb        1100.00000       142000.000000             140000  2023
2    Mar        1150.00000       148500.000000             147000  2023
3    Apr        1000.00000       130000.000000             135000  2023
4    May        1250.00000       155000.000000             150000  2023
5    Jun        1300.00000       160000.000000             158000  2023
6    Jul        1120.00000       140000.000000             142000  2023
7    Aug        1180.00000       145000.000000             148000  2023
8    Sep        1230.00000       150500.000000             149000  2023
9    Oct        1100.00000       138000.000000             140000  2023
10   Nov        1090.00000       135000.000000             136000  2023
11   Dec        1200.00000       148000.000000             147500  2023
12   Jan        1220.00000       152000.000000             146000  2023
13   Feb        1110.00000       143000.000000             140500  2023
14   Mar        1170.00000       149000.000000             148000  2023
15   Apr        1050.00000       133000.000000             136000  2023
16   May        1280.00000       157000.000000             151000  2023
17   Jun        1310.00000       162000.000000             159000  2023
18   Jul        1150.00000       141000.000000             143000  2023
19   Aug        1200.00000       147000.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
21   Oct        1130.00000       139000.000000             141000  2023
22   Nov        1100.00000       136000.000000             137000  2023
23   Dec        1220.00000       149000.000000             148000  2023
24   Jan        1250.00000       153000.000000             147000  2023
25   Feb        1120.00000       144000.000000             141000  2023
26   Mar        1180.00000       150000.000000             149000  2023
27   Apr        1080.00000       134000.000000             137000  2023
28   May        1290.00000       158000.000000             152000  2023
29   Jun        1330.00000       163000.000000             160000  2023
30   Jul        1170.00000       142000.000000             144000  2023
31   Aug        1220.00000       148000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
33   Oct        1140.00000       140000.000000             142000  2023
34   Nov        1110.00000       137000.000000             138000  2023
35   Dec        1230.00000       150000.000000             149000  2023
36   Jan        1270.00000       154000.000000             148000  2023
37   Feb        1130.00000       145000.000000             141500  2023
38   Mar        1190.00000       151000.000000             150000  2023
39   Apr        1100.00000       135000.000000             138000  2023
40   May        1300.00000       159000.000000             153000  2023
41   Jun        1340.00000       164000.000000             161000  2023
42   Jul        1180.00000       143000.000000             145000  2023
43   Aug        1230.00000       149000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
45   Oct        1150.00000       141000.000000             143000  2023
46   Nov        1120.00000       138000.000000             139000  2023
47   Dec        1240.00000       151000.000000             150000  2024
48   Jan        1300.00000       165000.000000             160000  2024
49   Feb        1250.00000       158000.000000             155000  2024
50   Mar        1200.00000       150000.000000             152000  2024
51   Apr        1347.44186       140000.000000             145000  2024
52   May        1350.00000       160333.333333             160000  2024
53   Jun        1400.00000       170000.000000             165000  2024
54   Jul        1300.00000       155000.000000             150000  2024
55   Aug        1380.00000       162000.000000             158000  2024
56   Sep        1420.00000       167000.000000             163000  2024
57   Oct        1350.00000       158000.000000             157000  2024
58   Nov        1347.44186       155000.000000             154000  2024
59   Dec        1400.00000       160333.333333             160000  2024

In [223]:
new["month"]=pd.Categorical(new["month"],categories=val_mon,ordered=True)

In [224]:
print(new)

   month  flights_operated  passengers_carried  target_passengers  year
0    Jan        1200.00000       150000.000000             145000  2023
1    Feb        1100.00000       142000.000000             140000  2023
2    Mar        1150.00000       148500.000000             147000  2023
3    Apr        1000.00000       130000.000000             135000  2023
4    May        1250.00000       155000.000000             150000  2023
5    Jun        1300.00000       160000.000000             158000  2023
6    Jul        1120.00000       140000.000000             142000  2023
7    Aug        1180.00000       145000.000000             148000  2023
8    Sep        1230.00000       150500.000000             149000  2023
9    Oct        1100.00000       138000.000000             140000  2023
10   Nov        1090.00000       135000.000000             136000  2023
11   Dec        1200.00000       148000.000000             147500  2023
12   Jan        1220.00000       152000.000000             146000  2023
13   Feb        1110.00000       143000.000000             140500  2023
14   Mar        1170.00000       149000.000000             148000  2023
15   Apr        1050.00000       133000.000000             136000  2023
16   May        1280.00000       157000.000000             151000  2023
17   Jun        1310.00000       162000.000000             159000  2023
18   Jul        1150.00000       141000.000000             143000  2023
19   Aug        1200.00000       147000.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
21   Oct        1130.00000       139000.000000             141000  2023
22   Nov        1100.00000       136000.000000             137000  2023
23   Dec        1220.00000       149000.000000             148000  2023
24   Jan        1250.00000       153000.000000             147000  2023
25   Feb        1120.00000       144000.000000             141000  2023
26   Mar        1180.00000       150000.000000             149000  2023
27   Apr        1080.00000       134000.000000             137000  2023
28   May        1290.00000       158000.000000             152000  2023
29   Jun        1330.00000       163000.000000             160000  2023
30   Jul        1170.00000       142000.000000             144000  2023
31   Aug        1220.00000       148000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
33   Oct        1140.00000       140000.000000             142000  2023
34   Nov        1110.00000       137000.000000             138000  2023
35   Dec        1230.00000       150000.000000             149000  2023
36   Jan        1270.00000       154000.000000             148000  2023
37   Feb        1130.00000       145000.000000             141500  2023
38   Mar        1190.00000       151000.000000             150000  2023
39   Apr        1100.00000       135000.000000             138000  2023
40   May        1300.00000       159000.000000             153000  2023
41   Jun        1340.00000       164000.000000             161000  2023
42   Jul        1180.00000       143000.000000             145000  2023
43   Aug        1230.00000       149000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
45   Oct        1150.00000       141000.000000             143000  2023
46   Nov        1120.00000       138000.000000             139000  2023
47   Dec        1240.00000       151000.000000             150000  2024
48   Jan        1300.00000       165000.000000             160000  2024
49   Feb        1250.00000       158000.000000             155000  2024
50   Mar        1200.00000       150000.000000             152000  2024
51   Apr        1347.44186       140000.000000             145000  2024
52   May        1350.00000       160333.333333             160000  2024
53   Jun        1400.00000       170000.000000             165000  2024
54   Jul        1300.00000       155000.000000             150000  2024
55   Aug        1380.00000       162000.000000             158000  2024
56   Sep        1420.00000       167000.000000             163000  2024
57   Oct        1350.00000       158000.000000             157000  2024
58   Nov        1347.44186       155000.000000             154000  2024
59   Dec        1400.00000       160333.333333             160000  2024

In [225]:
new["pct_diff_target"]= ((new["passengers_carried"]-new["target_passengers"])/new["target_passengers"])*100
print(new)

   month  flights_operated  passengers_carried  target_passengers  year  \
0    Jan        1200.00000       150000.000000             145000  2023
1    Feb        1100.00000       142000.000000             140000  2023
2    Mar        1150.00000       148500.000000             147000  2023
3    Apr        1000.00000       130000.000000             135000  2023
4    May        1250.00000       155000.000000             150000  2023
5    Jun        1300.00000       160000.000000             158000  2023
6    Jul        1120.00000       140000.000000             142000  2023
7    Aug        1180.00000       145000.000000             148000  2023
8    Sep        1230.00000       150500.000000             149000  2023
9    Oct        1100.00000       138000.000000             140000  2023
10   Nov        1090.00000       135000.000000             136000  2023
11   Dec        1200.00000       148000.000000             147500  2023
12   Jan        1220.00000       152000.000000             146000  2023
13   Feb        1110.00000       143000.000000             140500  2023
14   Mar        1170.00000       149000.000000             148000  2023
15   Apr        1050.00000       133000.000000             136000  2023
16   May        1280.00000       157000.000000             151000  2023
17   Jun        1310.00000       162000.000000             159000  2023
18   Jul        1150.00000       141000.000000             143000  2023
19   Aug        1200.00000       147000.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
21   Oct        1130.00000       139000.000000             141000  2023
22   Nov        1100.00000       136000.000000             137000  2023
23   Dec        1220.00000       149000.000000             148000  2023
24   Jan        1250.00000       153000.000000             147000  2023
25   Feb        1120.00000       144000.000000             141000  2023
26   Mar        1180.00000       150000.000000             149000  2023
27   Apr        1080.00000       134000.000000             137000  2023
28   May        1290.00000       158000.000000             152000  2023
29   Jun        1330.00000       163000.000000             160000  2023
30   Jul        1170.00000       142000.000000             144000  2023
31   Aug        1220.00000       148000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
33   Oct        1140.00000       140000.000000             142000  2023
34   Nov        1110.00000       137000.000000             138000  2023
35   Dec        1230.00000       150000.000000             149000  2023
36   Jan        1270.00000       154000.000000             148000  2023
37   Feb        1130.00000       145000.000000             141500  2023
38   Mar        1190.00000       151000.000000             150000  2023
39   Apr        1100.00000       135000.000000             138000  2023
40   May        1300.00000       159000.000000             153000  2023
41   Jun        1340.00000       164000.000000             161000  2023
42   Jul        1180.00000       143000.000000             145000  2023
43   Aug        1230.00000       149000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
45   Oct        1150.00000       141000.000000             143000  2023
46   Nov        1120.00000       138000.000000             139000  2023
47   Dec        1240.00000       151000.000000             150000  2024
48   Jan        1300.00000       165000.000000             160000  2024
49   Feb        1250.00000       158000.000000             155000  2024
50   Mar        1200.00000       150000.000000             152000  2024
51   Apr        1347.44186       140000.000000             145000  2024
52   May        1350.00000       160333.333333             160000  2024
53   Jun        1400.00000       170000.000000             165000  2024
54   Jul        1300.00000       155000.000000             150000  2024
55   Aug        1380.00000       162000.000000             158000  2024
56   Sep        1420.00000       167000.000000             163000  2024
57   Oct        1350.00000       158000.000000             157000  2024
58   Nov        1347.44186       155000.000000             154000  2024
59   Dec        1400.00000       160333.333333             160000  2024

    pct_diff_target
0          3.448276
1          1.428571
2          1.020408
3         -3.703704
4          3.333333
5          1.265823
6         -1.408451
7         -2.027027
8          1.006711
9         -1.428571
10        -0.735294
11         0.338983
12         4.109589
13         1.779359
14         0.675676
15        -2.205882
16         3.973510
17         1.886792
18        -1.398601
19        -1.342282
20         1.333333
21        -1.418440
22        -0.729927
23         0.675676
24         4.081633
25         2.127660
26         0.671141
27        -2.189781
28         3.947368
29         1.875000
30        -1.388889
31        -1.333333
32         1.324503
33        -1.408451
34        -0.724638
35         0.671141
36         4.054054
37         2.473498
38         0.666667
39        -2.173913
40         3.921569
41         1.863354
42        -1.379310
43        -1.324503
44         1.315789
45        -1.398601
46        -0.719424
47         0.666667
48         3.125000
49         1.935484
50        -1.315789
51        -3.448276
52         0.208333
53         3.030303
54         3.333333
55         2.531646
56         2.453988
57         0.636943
58         0.649351
59         0.208333

In [226]:
target_not_achieved=new[new["pct_diff_target"] < 0][["year","month","pct_diff_target"]]
print(target_not_achieved)

    year month  pct_diff_target
3   2023   Apr        -3.703704
6   2023   Jul        -1.408451
7   2023   Aug        -2.027027
9   2023   Oct        -1.428571
10  2023   Nov        -0.735294
15  2023   Apr        -2.205882
18  2023   Jul        -1.398601
19  2023   Aug        -1.342282
21  2023   Oct        -1.418440
22  2023   Nov        -0.729927
27  2023   Apr        -2.189781
30  2023   Jul        -1.388889
31  2023   Aug        -1.333333
33  2023   Oct        -1.408451
34  2023   Nov        -0.724638
39  2023   Apr        -2.173913
42  2023   Jul        -1.379310
43  2023   Aug        -1.324503
45  2023   Oct        -1.398601
46  2023   Nov        -0.719424
50  2024   Mar        -1.315789
51  2024   Apr        -3.448276

In [227]:
total_passengers_carried = new.groupby("year")["passengers_carried"].sum().reset_index()
total_flights_operated = new.groupby("year")["flights_operated"].sum().reset_index()
average_pct_diff_target = new.groupby("year")["pct_diff_target"].mean().reset_index()
#print(total_passengers_carried,total_flights_operated,average_pct_diff_target)
annual_summary=total_passengers_carried\
.merge(total_flights_operated,on="year")\
.merge(average_pct_diff_target,on="year")
print(annual_summary)

   year  passengers_carried  flights_operated  pct_diff_target
0  2023        6.907000e+06      55770.000000         0.528306
1  2024        2.051667e+06      17284.883721         1.078101

In [228]:
best_perf = new.loc[new["pct_diff_target"].idxmin()]
worst_perf = new.loc[new["pct_diff_target"].idxmax()]

In [229]:
print(new)

   month  flights_operated  passengers_carried  target_passengers  year  \
0    Jan        1200.00000       150000.000000             145000  2023
1    Feb        1100.00000       142000.000000             140000  2023
2    Mar        1150.00000       148500.000000             147000  2023
3    Apr        1000.00000       130000.000000             135000  2023
4    May        1250.00000       155000.000000             150000  2023
5    Jun        1300.00000       160000.000000             158000  2023
6    Jul        1120.00000       140000.000000             142000  2023
7    Aug        1180.00000       145000.000000             148000  2023
8    Sep        1230.00000       150500.000000             149000  2023
9    Oct        1100.00000       138000.000000             140000  2023
10   Nov        1090.00000       135000.000000             136000  2023
11   Dec        1200.00000       148000.000000             147500  2023
12   Jan        1220.00000       152000.000000             146000  2023
13   Feb        1110.00000       143000.000000             140500  2023
14   Mar        1170.00000       149000.000000             148000  2023
15   Apr        1050.00000       133000.000000             136000  2023
16   May        1280.00000       157000.000000             151000  2023
17   Jun        1310.00000       162000.000000             159000  2023
18   Jul        1150.00000       141000.000000             143000  2023
19   Aug        1200.00000       147000.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
21   Oct        1130.00000       139000.000000             141000  2023
22   Nov        1100.00000       136000.000000             137000  2023
23   Dec        1220.00000       149000.000000             148000  2023
24   Jan        1250.00000       153000.000000             147000  2023
25   Feb        1120.00000       144000.000000             141000  2023
26   Mar        1180.00000       150000.000000             149000  2023
27   Apr        1080.00000       134000.000000             137000  2023
28   May        1290.00000       158000.000000             152000  2023
29   Jun        1330.00000       163000.000000             160000  2023
30   Jul        1170.00000       142000.000000             144000  2023
31   Aug        1220.00000       148000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
33   Oct        1140.00000       140000.000000             142000  2023
34   Nov        1110.00000       137000.000000             138000  2023
35   Dec        1230.00000       150000.000000             149000  2023
36   Jan        1270.00000       154000.000000             148000  2023
37   Feb        1130.00000       145000.000000             141500  2023
38   Mar        1190.00000       151000.000000             150000  2023
39   Apr        1100.00000       135000.000000             138000  2023
40   May        1300.00000       159000.000000             153000  2023
41   Jun        1340.00000       164000.000000             161000  2023
42   Jul        1180.00000       143000.000000             145000  2023
43   Aug        1230.00000       149000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
45   Oct        1150.00000       141000.000000             143000  2023
46   Nov        1120.00000       138000.000000             139000  2023
47   Dec        1240.00000       151000.000000             150000  2024
48   Jan        1300.00000       165000.000000             160000  2024
49   Feb        1250.00000       158000.000000             155000  2024
50   Mar        1200.00000       150000.000000             152000  2024
51   Apr        1347.44186       140000.000000             145000  2024
52   May        1350.00000       160333.333333             160000  2024
53   Jun        1400.00000       170000.000000             165000  2024
54   Jul        1300.00000       155000.000000             150000  2024
55   Aug        1380.00000       162000.000000             158000  2024
56   Sep        1420.00000       167000.000000             163000  2024
57   Oct        1350.00000       158000.000000             157000  2024
58   Nov        1347.44186       155000.000000             154000  2024
59   Dec        1400.00000       160333.333333             160000  2024

    pct_diff_target
0          3.448276
1          1.428571
2          1.020408
3         -3.703704
4          3.333333
5          1.265823
6         -1.408451
7         -2.027027
8          1.006711
9         -1.428571
10        -0.735294
11         0.338983
12         4.109589
13         1.779359
14         0.675676
15        -2.205882
16         3.973510
17         1.886792
18        -1.398601
19        -1.342282
20         1.333333
21        -1.418440
22        -0.729927
23         0.675676
24         4.081633
25         2.127660
26         0.671141
27        -2.189781
28         3.947368
29         1.875000
30        -1.388889
31        -1.333333
32         1.324503
33        -1.408451
34        -0.724638
35         0.671141
36         4.054054
37         2.473498
38         0.666667
39        -2.173913
40         3.921569
41         1.863354
42        -1.379310
43        -1.324503
44         1.315789
45        -1.398601
46        -0.719424
47         0.666667
48         3.125000
49         1.935484
50        -1.315789
51        -3.448276
52         0.208333
53         3.030303
54         3.333333
55         2.531646
56         2.453988
57         0.636943
58         0.649351
59         0.208333

In [230]:
new=new.to_csv("combined_airline_data.csv")
target_not_achieved=target_not_achieved.to_csv("target_not_achieved.csv")
annual_summary=annual_summary.to_json("yearly_summary.json")

In [231]:
with zipfile.ZipFile("airline_analysis_outputs1.zip","w") as zf:
    zf.write("combined_airline_data.csv")
    zf.write("target_not_achieved.csv")
    zf.write("yearly_summary.json")